#canvas-container,#canvas-bg{
    width: 800px;
    height:600px;
}
#canvas-bg{
    margin: 20px auto;
}
#canvas-container{
    position: relative;
    /*background-color: #4679AC;*/
}
#canvas1,#canvas2{
    position: absolute;
    top:0;
}
#canvas1{
   /* background-color: aqua;*/
    z-index: 1;
}
#canvas2{
    /*background-color: yellow;*/
    z-index: 0;
}
button{
    position: absolute;
    top:52%;
    left: 46%;
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgba(251,108,38,0.8);
    color: #fff;
    font-weight:bold;
    z-index: 2;
    cursor: pointer;
    display: none;
}